main#wrapper {
    width: 700px;
    height: 870px;
    border: 1px solid #000000;
    padding: 10px 20px;
    background-color: #a6e1ec;
  }
  
  img {
    width: 200px;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  li {
    width: 595px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    border: 1px solid #000000;
  }
  
  .text {
      font-size: 16px;
    font-weight: bold;
    color: #3f51b5;
  }